/* About Us Section Styling */
.about-us-section {
  padding: 10px 20px;
  text-align: center;
  background-color: rgba(
    20,
    27,
    39,
    0.5
  ); /* Light background for the section */
}

.about-us-heading {
  color: #12192d;
  font-size: 2rem;
  margin: 10px 0px;
  background-color: #fdfeff;
  padding: 8px 0px;
  border-radius: 5px;
  font-weight: bold;
}

/* Container for About Us Info */
.about-us-container {
  display: flex;
  justify-content: center; /* Center the box horizontally */
}

/* Single About Us Box */
.about-us-box {
  background-color: #fff;
  padding: 20px; /* Padding for the box */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 800px; /* Maximum width for the box */
  width: 100%; /* Full width for responsiveness */
}

/* Individual About Info Item */
.about-info-item {
  font-size: 1rem;
  color: #2d2020; /* Text color */
  margin: 10px 0px; /* Space between each item */
}

/* Media Queries */

/* For mobile devices (width less than 768px) */
@media (max-width: 768px) {
  .about-us-heading {
    font-size: 1.5rem;
    width: 100%;
    /* Slightly smaller font for mobile */
  }

  .about-us-box {
    padding: 20px; /* Reduce padding for smaller screens */
  }
}
