.add-project-form {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 80px;
  background-color: #ffffffd6;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.mainheading {
  color: rgb(255, 255, 255);
  font-weight: 500;
  background-color: rgba(155, 44, 0, 0.926);
  border-radius: 5px;
  padding: 5px;
}
.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  /* margin-bottom: 5px; */
  color: rgb(241, 241, 247);
  background-color: rgb(20, 30, 53);
  border-radius: 5px 5px 0 0;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  /* border: none; */
  border: 1px solid #ccc;
  border-radius: 0 0 5px 5px;
}

.submit-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button:disabled {
  background-color: #ccc;
}

.success-dialog {
  margin-top: 15px;
  padding: 10px;
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .add-project-form {
    padding: 10px;
  }

  .submit-button {
    padding: 15px;
  }
}
