/* Ongoing Section Styling */
.ongoing-section {
  padding: 20px 20px;
  background-color: rgba(20, 27, 39, 0.5);
}

.ongoing-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Project Details */
.ongoing-details {
  flex: 1 1 60%;
  padding: 10px;
  margin: 0px 5px;
  background-color: rgba(241, 241, 241, 0.957);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.ongoing-details h2 {
  border-radius: 5px;
  padding: 8px;
  text-align: center;
  color: #fcfcfc;
  background-color: rgb(39, 39, 71);
}

/* List of Projects */
.ongoing-details ul {
  list-style: none;
  padding: 0;
}

.project-item {
  margin: 20px 0;
  font-size: 0.9rem;
  font-weight: 500;
  color: #0d0909;
  line-height: 1.2;
}

/* Image Section */
.ongoing-image {
  flex: 1 1 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Make sure image container takes full height */
}

.ongoing-image img {
  max-width: 100%;
  max-height: 100%;
  height: 100%; /* Make sure image takes full height */
  width: auto; /* Maintain aspect ratio */
  border-radius: 8px;
}

/* Media Queries */
@media (max-width: 1024px) {
  .ongoing-details,
  .ongoing-image {
    flex: 1 1 100%;
  }

  .ongoing-image {
    margin-bottom: 20px;
    height: auto; /* Reset height on smaller screens */
  }

  .ongoing-image img {
    width: 100%; /* Make the image fit horizontally */
    height: auto;
  }
}

@media (max-width: 768px) {
  .ongoing-details,
  .ongoing-image {
    flex: 1 1 100%;
  }

  .ongoing-details {
    margin-bottom: 20px;
  }

  .ongoing-details h2 {
    font-size: 1.5rem;
  }

  .ongoing-image {
    margin-bottom: 20px;
    height: auto; /* Reset height on smaller screens */
  }

  .ongoing-image img {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 480px) {
  .ongoing-image {
    margin-bottom: 15px;
    height: auto; /* Reset height on smaller screens */
  }

  .ongoing-image img {
    width: 100%;
    height: auto;
  }
}
