body {
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: "Arial", sans-serif;
  background-color: rgb(37, 78, 34) !important;

  height: 100%;
}
